*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
}

#home{
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    color: #fff;
    padding: 100px;
    
}

#home h1{
    font-size: 50px;
   
    margin-bottom: 30px;
}

#home .decscription{
  font-size: 20px;
}
#about{
    display: flex;
    justify-self: center;
    justify-content: space-around;
    padding: 40px;
}
.box{
    background-color: #242628;
    font-size: 30px;
    padding: 20px;
    margin: 40px 20px;
    height: 300px;
    color: #fff;
    border-radius: 10px;
}

#team {
    background: linear-gradient(180deg, #017c2c 50%, #fff 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.member{
    width: 200px;
    background-color:  #fff;
    box-shadow: 0 0 10px;
   padding: 30px;
   margin: 20px;
   border-radius: 6px;
}
.member .person1{
    color: #017c2c;
    font-size: 30px;
    margin-bottom: 10px;
}
.member .decscription{
    font-size: 20px;
}

.left-to-right{
    transform: translateX(-200%);
    transition: 1s;
}
.left-to-right.start{
    transform: translateX(0);
}
.right-to-left {
    transform:  translatex(200%);
    transition: 1s;
}
.right-to-left.start{
    transform: translateX(0);
}

.zom{
    transform: scale(0);
    transition: 0.5s;
}
.zom.start{
    transform: scale(1);
}